{

background-image: linear-gradient();
background: linear-gradient(90deg, rgb(96, 96, 96) 0%, rgb(0, 0, 0) 100%);

}

*,
*::before,
*::after
{
    margin: 5;
    box-sizing: inherit;
   
   
}

html{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}

section{

  
}






body {
   background: linear-gradient(90deg, rgb(56, 56, 56) 0%, rgb(0, 0, 0) 100%); 
    color: white;
    
}


header {
    background-image: url(../images/Untitled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
 
}

nav

{
    background-color: #222222; 
    
    
    
}

nav ul
{
    text-align: center;
    
    font-size: 1.2em;
        
}

nav ul li
{
    list-style-type: none;
    background-color: #2e2e2e;
    display: inline;

}

nav ul li a 
{
    color:  #0846aa;
    text-decoration: none;

}

nav
{
  padding: 5px;
    
}

nav ul li
{
  padding: 15px;
    margin: 5px;
   
    border-radius: 10px;
}

nav ul li:hover
{
    background-color: #151715;
}

h1 {
    color: #ffffff;
}

#content {
    float: left;
    width: 100%;
    margin-right:  15px;
    border: 2px solid black;
    text-align: justify;
    margin-bottom: 200px;
    font-family:serif;
     line-height: 2.0;
     font-size: 110%;

    
}



aside ul li  
{
    list-style-type: none;
}

#active
{
    background-color: #000000;
}

   



.col_detail {
     column-count: 3;
    text-align: center;
    color:  #0846aa;

    font-size: 200%;
    column-rule: 2px solid black;
    column-gap: 50px;
    padding: 2px;
    margin-bottom: 50px; 
    line-height: 2.0;
    
}



footer {
    clear: both;
    bottom: 0px;
    width: 100%;
    position: relative;
    text-align: center;
        
}



article {
    border: 1px black;
    text-align: center;
    line-height: 2.0;
     word-spacing: 2px;
    font-size: 150%;
     background-image: url(../images/fitsum222-admasu-oGv9xIl7DkY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
}

.videoContent {
     float: left;
    width: 49%;
    height: 450px;
    border: 2px solid black;
    max-height: 450px;
    min-width: 450;
    overflow: auto;
    
}

#workoutContent {
     border: 2px solid Black;
    width: 38%%;
    height: auto;
    float: right;
}





aside {
   float: right;
    width: 49%;
    border: 2px solid Black;
    height: 445px;
    min-width: 450;
    overflow: auto;
}




.bottom  {
       line-height: 2.0;
     word-spacing: 2px;
    font-family: serif;
    text-align: justify;
    text-align: center;
}

h2 , h3{
    color:  #0846aa;
    text-align: center;
}

.qpage {
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    
    
}

.accordion-item {
    background-color: #283042;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5pem rgba(0,0,0, .1);
    
}

.accordion-link {
    font-size: 1.6rem;
    color: rgba(255,255,255,.8);
    text-decoration: none;
    background-color: #283042;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    
    
    
}

ion-icon{
  color: #0846aa;
    padding: .5rem;
   
}

.answer
{
  max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #212838;
    transition: max-height 650ms;
 
    
}

.answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #8fc460;
    top: 50%
    left: 0;
    transform: translateY(-50%);
   
    
    
}

.answer p{
    color: rgba(255,255,255,.6);
    font-size: 1.4rem;
    padding: 2rem;
     
}

.accordion-item:target .answer{
    max-height: 20rem;
}


#map {
    
    width: 100%;
     
         margin-left: 33%;
         margin-right: 33%; 
    margin-bottom: 200px;
    font-family:serif;
     line-height: 2.0;
     font-size: 110%;

    
}
