{

background-image: linear-gradient();
background: linear-gradient(90deg, rgb(96, 96, 96) 0%, rgb(0, 0, 0) 100%);

}



body {
   background: linear-gradient(90deg, rgb(56, 56, 56) 0%, rgb(0, 0, 0) 100%); 
    color: white;
    
}


header {
    background-image: url(../images/Untitled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border: 1px solid black;
}

nav

{
    background-color: #222222; 
    
    
    
}

nav ul
{
    text-align: center;
    
    font-size: 1.2em;
        
}

nav ul li
{
    list-style-type: none;
    background-color: #2e2e2e;
    display: inline;

}

nav ul li a 
{
    color:  #0846aa;;
    text-decoration: none;

}

nav
{
  padding: 5px;
    
}

nav ul li
{
  padding: 15px;
    margin: 5px;
   
    border-radius: 10px;
}

nav ul li:hover
{
    background-color: #151715;
}

h1 {
    color: #ffffff;
}

#content {
    float: left;
    width: 100%;
    margin-right:  15px;
    border: 1px solid black;
    text-align: justify;
    margin-bottom: 200px;

    
}



aside ul li  
{
    list-style-type: none;
}

#active
{
    background-color: #000000;
}

   



.col_detail {
     column-count: 3;
    text-align: center;
    color:  #0846aa;
    font-family: "Times New Roman";
    font-size: 200%;
    column-rule: 2px solid black;
    column-gap: 50px;
    padding: 2px;
    margin-bottom: 50px; 
    line-height: 2.0;
    
}

h2 {
    text-align: center;
}

footer {
    clear: both;
    bottom: 0px;
    width: 100%;
    position: relative;
    text-align: center;
        
}



article {
    border: 1px black;
    text-align: center;
    line-height: 2.0;
     word-spacing: 2px;
    font-size: 150%;
     background-image: url(../images/fitsum222-admasu-oGv9xIl7DkY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
}

.videoContent {
     float: left;
    width: 49%;
  
    border: 2px solid black;
    max-height: 450px;
    min-width: 450;
    overflow: auto;
    
}

#workoutContent {
     border: 2px solid Black;
    width: 38%%;
    height: auto;
    float: right;
}



aside {
   float: right;
    width: 49%;
    border: 2px solid Black;
    height: 445px;
    min-width: 450;
    overflow: auto;
}



